.section-logos {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.section-logos__logo {
  width: 140px;
  object-fit: contain;
}

.text-justify {
  text-align: justify;
}
